# Workshop (Openclassrooms) — Exercices

In [1]:
# =[Préliminaires]==========================
# Usage de SQL magic commands avec ipython.

# Chargement de l'environnement informatique interactif ipython:
%load_ext sql

# Connection à la base de donnée mysql en tant que utilisateur
# 'kodascii' sur un 'localhost' avec pour mot de passe 'pass123':
%sql mysql://kodascii:pass123@localhost/

In [ ]:
# Création de la base de donnée foodly_1 :
%sql CREATE DATABASE `foodly_3`;

*L'instruction ci-dessous nous permet de remplir la base de donnée **foodly_3** avec les instructions contenue dans le fichier [foodly_1.sql](foodly_1.sql), et donc de l'initialiser.*

```sh
mysql -u root -p foodly_3 < foodly_1.sql
```

In [2]:
# Marque floody_1 comme base de donnée de travail:
%sql USE `foodly_3`;

# Affiche le contenue de la base foodly_2:
%sql SELECT * FROM aliment;

 * mysql://kodascii:***@localhost/
0 rows affected.
 * mysql://kodascii:***@localhost/
20 rows affected.

[(1, 'pomme', 'sans marque', 19.1, 72, 0.2, 0.4, 0),
 (2, 'poire', 'sans marque', 27.5, 134, 0.2, 1.1, 1),
 (3, 'banane', 'chiquita', 24.0, 101, 0.3, 1.1, 0),
 (4, 'jambon', 'herta', 0.2, 34, 0.8, 6.6, 0),
 (5, 'compote', 'andros', 11.0, 51, 0.0, 0.5, 0),
 (6, 'steak haché', 'charal', 0.8, 68, 4.8, 4.8, 0),
 (7, 'saumon', 'guyader', 0.0, 206, 12.3, 22.1, 0),
 (8, 'haricots verts', 'bonduelle', 5.8, 25, 0.1, 1.5, 0),
 (9, 'riz', 'oncle benz', 28.2, 130, 0.3, 2.7, 0),
 (10, 'pâtes completes', 'barilla', 64.0, 353, 2.7, 14.0, 1),
 (11, 'blanc de dinde', 'père dodu', 0.6, 98, 0.9, 22.0, 0),
 (12, 'filet de poulet', 'le gaulois', 0.0, 121, 1.8, 26.2, 0),
 (13, 'muesli', 'bjorg', 26.5, 170, 5.0, 3.5, 1),
 (14, 'café', 'carte noire', 0.0, 0, 0.0, 0.0, 0),
 (15, "jus d'orange", 'innocent', 16.0, 74, 0.0, 1.6, 0),
 (16, 'jus de pomme', 'andros', 24.0, 100, 0.2, 0.2, 1),
 (17, 'pomme de terre', 'doréac', 21.1, 104, 0.2, 2.8, 0),
 (18, 'oeuf', 'naturalia', 0.4, 74, 5.1, 6.5, 1),
 (19, 'baguette', 'sans marque', 36.1, 185, 1.2, 7.5, 0),
 (20, "lait d'amande", 'bjorg', 6.1, 80, 5.3, 1.5, 1)]

## [Exercice 01](https://openclassrooms.com/fr/courses/6971126-implementez-vos-bases-de-donnees-relationnelles-avec-sql/7142248-inserez-des-donnees-dans-votre-bdd#/id/r-8011785)
> **Consigne** : *Créer un nouvel aliment. En voici les données nutritionnelles :*

| nom            | marque   | calories | sucre | graisses | proteines | bio   |
|----------------|----------|----------|-------|----------|-----------|-------|
| haricots verts | Monoprix | 25       | 3     | 0        | 1,7       | FASLE |

In [3]:
%%sql
INSERT INTO `aliment` (`nom`, `marque`, `calories`, `sucre`, `graisses`, `proteines`, `bio`)
VALUES ('haricots verts', 'Monoprix', 25, 3, 0, 1.7, false);

SELECT * FROM aliment WHERE `id` >= 15;

 * mysql://kodascii:***@localhost/
1 rows affected.
7 rows affected.

[(15, "jus d'orange", 'innocent', 16.0, 74, 0.0, 1.6, 0),
 (16, 'jus de pomme', 'andros', 24.0, 100, 0.2, 0.2, 1),
 (17, 'pomme de terre', 'doréac', 21.1, 104, 0.2, 2.8, 0),
 (18, 'oeuf', 'naturalia', 0.4, 74, 5.1, 6.5, 1),
 (19, 'baguette', 'sans marque', 36.1, 185, 1.2, 7.5, 0),
 (20, "lait d'amande", 'bjorg', 6.1, 80, 5.3, 1.5, 1),
 (21, 'haricots verts', 'Monoprix', 3.0, 25, 0.0, 1.7, 0)]

## [Exercice 02](https://openclassrooms.com/fr/courses/6971126-implementez-vos-bases-de-donnees-relationnelles-avec-sql/7142258-selectionnez-les-donnees-presentes-dans-votre-bdd#/id/r-7150059)
> **Consigne** : *Lister tous les noms et les calories associées pour chaque aliment présent dans la BDD de foodly_1.*

In [4]:
%%sql
SELECT `nom`, `calories` FROM aliment;

 * mysql://kodascii:***@localhost/
21 rows affected.

[('pomme', 72),
 ('poire', 134),
 ('banane', 101),
 ('jambon', 34),
 ('compote', 51),
 ('steak haché', 68),
 ('saumon', 206),
 ('haricots verts', 25),
 ('riz', 130),
 ('pâtes completes', 353),
 ('blanc de dinde', 98),
 ('filet de poulet', 121),
 ('muesli', 170),
 ('café', 0),
 ("jus d'orange", 74),
 ('jus de pomme', 100),
 ('pomme de terre', 104),
 ('oeuf', 74),
 ('baguette', 185),
 ("lait d'amande", 80),
 ('haricots verts', 25)]

## [Exercice 03](https://openclassrooms.com/fr/courses/6971126-implementez-vos-bases-de-donnees-relationnelles-avec-sql/7142260-mettez-a-jour-les-donnees-de-votre-bdd#/id/r-7978405)
> **Consigne** : *Nous avons oublié de préciser le type de pomme vendue à Intermarché. Il s'agit d'une pomme golden. Comment feriez-vous pour rectifier le tir ?*

In [5]:
%%sql
UPDATE `aliment` SET `nom` = 'pomme golden', `marque` = 'Intermarché' WHERE `id` = 1;

SELECT * FROM `aliment` WHERE `id` <= 5;

 * mysql://kodascii:***@localhost/
1 rows affected.
5 rows affected.

[(1, 'pomme golden', 'Intermarché', 19.1, 72, 0.2, 0.4, 0),
 (2, 'poire', 'sans marque', 27.5, 134, 0.2, 1.1, 1),
 (3, 'banane', 'chiquita', 24.0, 101, 0.3, 1.1, 0),
 (4, 'jambon', 'herta', 0.2, 34, 0.8, 6.6, 0),
 (5, 'compote', 'andros', 11.0, 51, 0.0, 0.5, 0)]

## [Exercice 04](https://openclassrooms.com/fr/courses/6971126-implementez-vos-bases-de-donnees-relationnelles-avec-sql/7142269-extrayez-des-informations-specifiques-de-votre-bdd#/id/r-7980425)
> **Consignes** : *Imaginons que je vous demande tous les aliments qui ne sont pas bio dans la base, classés par ordre décroissant de contenance en protéines.*

In [6]:
%%sql
SELECT * FROM `aliment`
WHERE `bio` = false
ORDER BY `proteines` DESC;

 * mysql://kodascii:***@localhost/
15 rows affected.

[(12, 'filet de poulet', 'le gaulois', 0.0, 121, 1.8, 26.2, 0),
 (7, 'saumon', 'guyader', 0.0, 206, 12.3, 22.1, 0),
 (11, 'blanc de dinde', 'père dodu', 0.6, 98, 0.9, 22.0, 0),
 (19, 'baguette', 'sans marque', 36.1, 185, 1.2, 7.5, 0),
 (4, 'jambon', 'herta', 0.2, 34, 0.8, 6.6, 0),
 (6, 'steak haché', 'charal', 0.8, 68, 4.8, 4.8, 0),
 (17, 'pomme de terre', 'doréac', 21.1, 104, 0.2, 2.8, 0),
 (9, 'riz', 'oncle benz', 28.2, 130, 0.3, 2.7, 0),
 (21, 'haricots verts', 'Monoprix', 3.0, 25, 0.0, 1.7, 0),
 (15, "jus d'orange", 'innocent', 16.0, 74, 0.0, 1.6, 0),
 (8, 'haricots verts', 'bonduelle', 5.8, 25, 0.1, 1.5, 0),
 (3, 'banane', 'chiquita', 24.0, 101, 0.3, 1.1, 0),
 (5, 'compote', 'andros', 11.0, 51, 0.0, 0.5, 0),
 (1, 'pomme golden', 'Intermarché', 19.1, 72, 0.2, 0.4, 0),
 (14, 'café', 'carte noire', 0.0, 0, 0.0, 0.0, 0)]